.bg-gray {
    background-color: gray;
}
.bg-green {
    background-color: #4BA3A1;
}
.bg-blue {
    background-color: #1A4567;
}
.rem2 {
    font-size: 2rem;
}

/* effect */
.hover {
cursor: pointer;
}

.hover:hover {
    opacity: 0.9;
}